.row.start{
    align-items: flex-start;
  }
  
  .col-2{
    flex: 2 1 50rem;
  }
  
  .col-1{
    flex: 1 1 25rem;
  }
  
  img.large{
    width: 100%;
  }
  
  
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  li{
    margin-top: 1rem;
  }
  