body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  margin: 20px;
  padding: 10px;
  border: rgb(255, 17, 0);
  border-radius: 10px;
  color: aqua;
  background-color: chocolate;
}
button:hover{
  background-color: crimson;
  color: black;
}
h1{
  color: tomato;
}
.container{
  text-align: center;
}



